<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-5 fw-bold mb-4 text-center">Политика возврата</h1>

      <p>Если вас по какой-то причине не устроило качество сервиса, пожалуйста, свяжитесь с нами по адресу <a href="mailto:{{environment.SUPPORT_MAIL}}">{{environment.SUPPORT_MAIL}}</a>. Мы попробуем помочь вам настроить работу VPN.</p>

      <p>Правила возврата указаны в разделе 6 <a class="cursor-pointer" routerLink="/oferta" routerLinkActive="active">договора оферты</a>.</p>
    </div>
  </div>
</div>
