<div class="container my-3">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-5 fw-bold mb-4 text-center">Политика в отношении файлов cookie</h1>

      <p class="text-muted">Последнее обновление: 01.03.2026г.</p>

      <h2 class="h3 fw-bold mt-5 mb-3">1. Общие положения</h2>
      <p>Настоящая Политика в отношении файлов cookie (далее — Политика) определяет порядок и условия использования {{environment.IP.NAME}} (далее — Оператор, Общество, Мы) файлов cookie пользователей во время их посещения и использования сайта {{environment.API_URL}} (далее — Сайт).</p>
      <p>Настоящая Политика дополняет положения документа «Политика обработки персональных данных», размещенного по адресу <a class="cursor-pointer" routerLink="/privacy-policy" routerLinkActive="active">{{environment.API_URL}}/privacy-policy</a>.</p>

      <ul><strong>Контакты Оператора:</strong>
        <li>{{environment.IP.NAME}}</li>
        <li>ИНН: {{environment.IP.INN}}</li>
        <li>ОГРНИП: {{environment.IP.OGRNIP}}</li>
        <li>Email: {{environment.SUPPORT_MAIL}}</li>
      </ul>


      <h2 class="h3 fw-bold mt-5 mb-3">2. Что такое файлы cookie</h2>
      <p><strong>2.1.</strong> Файлы cookie представляют собой файлы, загружаемые на устройство (в том числе, мобильные телефоны, компьютеры, планшеты и иные устройства), с которого осуществляется вход на Сайт. Обычно сохраненные на Вашем устройстве файлы cookie отправляются на Сайт при его повторном посещении или на другой ресурс, который может их распознать.</p>
      <p><strong>2.2.</strong> Файлы cookie позволяют идентифицировать Вас (как пользователя Сайта, ранее уже открывавшего Сайт), получить информацию о тех действиях, которые Вы осуществляете на Сайте, а также о Ваших предпочтениях, благодаря чему помогают сделать посещение Сайта более удобным.</p>
      <p><strong>2.3.</strong> Мы используем термин «файлы cookie первой стороны» в отношении файлов cookie, установленных и настроенных нами самими, и термин «файлы cookie третьей стороны» в том случае, если они настроены другими поставщиками технологических услуг. Файлы cookie третьих лиц позволяют предоставлять на Сайте или через него функции или возможности третьих лиц (например, аналитику).</p>

      <h2 class="h3 fw-bold mt-5 mb-3">3. Как управлять файлами cookie</h2>
      <p><strong>3.1.</strong> Вы можете управлять файлами cookie различными способами. Обращаем Ваше внимание на то, что в случае удаления или блокировки файлов cookie, возможно, не все функции Сайта будут Вам доступны или не все страницы Сайта будут корректно отображаться.</p>
      <p><strong>3.2.</strong> Большинство браузеров разрешают использование файлов cookie по умолчанию, но Вы можете самостоятельно определить, следует ли использовать файлы cookie, с помощью элементов управления браузера, которые обычно находятся в меню «Инструменты» или «Настройки» Вашего браузера.</p>
      <p><strong>3.3.</strong> Кроме того, Вы можете настроить параметры Вашего браузера, используемого для просмотра Сайта, чтобы включить, отключить или удалить файлы cookie. Подробные инструкции по настройке браузера опубликованы компаниями-разработчиками браузеров, и их можно найти, например, здесь:</p>
      <ul>
        <li><a href="https://browser.yandex.ru/help/ru/personal-data-protection/cookies.html" target="_blank">Яндекс Браузер</a></li>
        <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=ru&oco=2&sjid=1566755672797115490-EU" target="_blank">Chrome</a></li>
        <li><a href="https://support.mozilla.org/ru/kb/kak-ne-davat-veb-sajtam-sohranyat-kuki-i-dannye-sa" target="_blank">Firefox</a></li>
        <li><a href="https://support.microsoft.com/ru-ru/windows/%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%B0%D0%BC%D0%B8-cookie-%D0%B2-microsoft-edge-%D0%BF%D1%80%D0%BE%D1%81%D0%BC%D0%BE%D1%82%D1%80-%D1%80%D0%B0%D0%B7%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0-%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Edge</a></li>
        <li><a href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac" target="_blank">Safari</a></li>
      </ul>

      <h2 class="h3 fw-bold mt-5 mb-3">4. Какие файлы cookie используются</h2>
      <p><strong>4.1.</strong> Мы используем файлы cookie на основании Вашего согласия. Осуществить действия по отказу от использования файлов cookie Вы можете в настройках своего браузера, через который осуществляете вход на Сайт, а также в настройках своего устройства. Максимальный срок хранения файлов cookie составляет 1 год.</p>
      <p><strong>4.2.</strong> <strong>Строго необходимые файлы cookie</strong></p>
      <p>Строго необходимые файлы cookie необходимы для функционирования Сайта. Как правило, они активируются только в ответ на Ваши действия, аналогичные запросу услуг, такие как: настройка уровня конфиденциальности, вход в систему или заполнение форм. Вы можете настроить браузер таким образом, чтобы он блокировал эти файлы cookie или уведомлял Вас об их использовании, но в таком случае возможно, что некоторые разделы Сайта не будут работать.</p>
      <p><strong>4.3.</strong> <strong>Функциональные файлы cookie</strong></p>
      <p>Функциональные файлы cookie позволяют предоставлять улучшенную функциональность и персонализацию, например, для онлайн-чатов и видеороликов. Они могут настраиваться нами или сторонними поставщиками, услуги которых содержатся на наших страницах. Если Вы не одобрите использование этих файлов cookie, то, возможно, некоторые или все эти функции будут работать ненадлежащим образом.</p>
      <p><strong>4.4.</strong> <strong>Аналитические файлы cookie</strong></p>
      <p>Аналитические файлы cookie позволяют подсчитывать количество посещений и источников трафика, чтобы оценивать и улучшать работу нашего веб-сайта. Благодаря им мы знаем, какие страницы являются наиболее и наименее популярными, и видим, каким образом посетители перемещаются по веб-сайту. Также аналитические файлы cookie могут использоваться для сбора данных о ваших интересах и отображения для вас актуальной рекламы (в том числе на других сайтах). Они работают посредством уникальной идентификации вашего браузера и устройства. Если вы не одобрите использование этих файлов cookie, информация о посещении Вами нашего Сайта не будет передаваться в аналитические сервисы.</p>
      <p><strong>4.5.</strong> Мы также хотим сообщить, что некоторые третьи лица могут размещать свои собственные файлы cookie на вашем устройстве. Это могут быть сторонние аналитические службы или другие внешние поставщики услуг, которые помогают нам анализировать трафик и поведение пользователей на нашем Сайте. Обработка файлов cookie третьими лицами осуществляется в соответствии с их собственными политиками конфиденциальности.</p>
      <p><strong>4.6.</strong> При обработке файлов cookie информация о вашем посещении Сайта может передаваться:</p>
      <ul>
        <li>ООО «ЯНДЕКС» (адрес: 119021, город Москва, ул. Льва Толстого, д. 16);</li>
      </ul>

      <h2 class="h3 fw-bold mt-5 mb-3">5. Изменение настоящей политики</h2>
      <p><strong>5.1.</strong> В Политику могут вноситься изменения для того, чтобы отразить возможные изменения в процессах Оператора использования файлов cookie. Актуальная политика публикуется на странице размещения настоящей Политики.</p>
      <p><strong>5.2.</strong> Дата последнего изменения указана в начале настоящей Политики.</p>
    </div>
  </div>
</div>
