<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-5 fw-bold mb-4 text-center">Отмена подписки</h1>

      <p><strong>{{environment.APP_NAME}}</strong> — это удобный сервис, работающий по подписке. Вы оформляете подписку один раз, и она автоматически продлевается, пока вам нужен VPN.</p>
      <p>Если вы решите отменить подписку, она останется активной до конца оплаченного периода. Автоматическое продление отключится сразу, и дальнейшие списания происходить не будут. После окончания срока вы сможете продлить подписку вручную. Обратите внимание, что автопродление для вас больше работать не будет. Если вы захотите снова включить автосписания, свяжитесь с нашей поддержкой.</p>

      <p>Если у вас возникли сложности с настройкой VPN или наши тарифы кажутся вам слишком высокими, напишите нам. Мы поможем разобраться с настройками и предложим подходящий вариант.</p>

      <p>Свяжитесь с нами по почте <a href="mailto:{{environment.SUPPORT_MAIL}}">{{environment.SUPPORT_MAIL}}</a> или через Telegram <a href="https://t.me/{{environment.TELEGRAM.SUPPORT_USERNAME}}" target="_blank">&commat;{{environment.TELEGRAM.SUPPORT_USERNAME}}</a>. Мы всегда рады помочь!</p>
    </div>
  </div>
</div>
